body {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  font: 14px/24px 'lato', sans-serif;
  background: #282828;
  background: radial-gradient(circle, #888 50%, black 110%);
}

svg {
  margin: auto;
  border-color: #fff;
  font: 10px sans-serif;
  cursor: crosshair;
  border-style: solid;
  width:auto;
}

#preloader {
  margin: 0;
  padding: 0;
  position: absolute;
  margin-right: auto;

}

.line {
  cursor: crosshair;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#sketch {
  z-index: 0;
}

#svgPast, #svgBG {
  position:absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  z-index: -1;
  width: inherit;
}
.input {
  display: block;
}
.input span {
  position: absolute;
  z-index: 1;
  cursor: text;
  pointer-events: none;
  color: #555;
  /* Input padding + input border */
  padding: 7px;
  /* Firefox does not respond well to different line heights. Use padding instead. */
  line-height: 17px;
  /* This gives a little gap between the cursor and the label */
  margin-left: 2px;
}
.input input, .input textarea, .input select {
  z-index: 0;
  padding: 6px;
  margin: 0;
  font: inherit;
  line-height: 17px;
	background-color: #181818;
	color: #999;
	  border-style: none;
}
.input select {
  padding: 5px;
  /* Unfortunately selects don't respond well to padding. They need an explicit height. */
  height: 3px;
}
