body {
    padding: 0;
    margin: auto;
    display: block;
    width: inherit;
    position: absolute;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: #fff;
    background-color: #777;
    background: radial-gradient(circle, lightgray 60%, black 130%);

}


#link, #name
{
font-weight:lighter;
color:#bbb;
background-color:rgba(0,0,0, 0.1);
border: 5px;
border-style:solid;
border-color:rgba(0,0,0,0);
letter-spacing:1pt;
word-spacing:3pt;
font-size:15px;
text-align:left;
font-family:helvetica, sans-serif;
line-height:1;
}

#name {
  background-color: rgba(0,0,0,0);
  color:rgba(180,180,180,0.8);
  text-align: right;
  display: table-cell;
   vertical-align: bottom;
   position: relative;
   height: inherit;
   width: inherit;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: rgba(255,255,255,0.1);
}

#break {

  line-height: (2*height - font-size);

  text-align: right;
  color:rgba(120,120,120,0.1);
  padding-top: 5px;
  font-family:helvetica, sans-serif;
  letter-spacing:1pt;
  word-spacing:3pt;
  font-size:12px;
  cursor: help;
}

#break span{
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}


div, img {
  position:absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  /*z-index: -1;*/
  width: inherit;
}

.line {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}
