body {
    padding: 0;
    margin: auto;
    display: block;
    width: inherit;
    position: absolute;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: #fff;
    background-color: #777;

}

div, img {
  position:absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  /*z-index: -1;*/
  width: inherit;
}

.line {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}
