body {
    padding: 0;
    margin: auto;
    display: block;
    /*width: inherit;*/
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    border-style: solid;
    border-color: #fff;
    background-color: #777;

}

div {
  position:absolute;
  top: 0px;
  left: 0px;
  padding: 0;
  width: inherit;
  /*height: auto;*/
  /*background-color: #ffffff;*/
}
svg {
  font: 10px sans-serif;
}
.line {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#svg6 {
  /*background: #fff;*/
}
