body {
  padding: 0;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;

margin-left:auto;
margin-right:auto;
  font: 14px/24px 'lato', sans-serif;
      vertical-align: baseline;
      width: 800px;
      height: 800px;
}

#fourimg {
  /*width: 80%;*/
  height:auto;
  align: center;
  padding: 0;
  /*margin: auto;*/
  /*position: absolute;*/


}

.floated_img
{
  float: left;
  padding-right: 20px;
  padding-top: 20px;
  width: 40%;
  height:40%;
}
