

<?xml version="1.0"?>
<configuration>
   <system.webServer>
   <security>
    <requestFiltering>
        <requestLimits maxAllowedContentLength="1000000" />
    </requestFiltering>
</security>
<appSettings>
  <add key="aspnet:MaxJsonDeserializerMembers" value="1000000" />
</appSettings>
      <modules runAllManagedModulesForAllRequests="true"/>
   </system.webServer>
</configuration>
<appSettings>
  <add key="aspnet:MaxJsonDeserializerMembers" value="1000000" />
</appSettings>
